/* CSS styles for House Price Prediction form */
body {
    font-family: Arial, sans-serif;
    background-color: #5fd9ef;
    margin: 0;
    padding: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
}

.register_page {
    background-color: #bbfcf7;
    padding: 20px;
    border-radius: 10px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

.form {
    text-align: center;
}

.form input[type="number"] {
    width: 100%;
    padding: 10px;
    margin-bottom: 10px;
    border: 1px solid #ccc;
    border-radius: 5px;
    box-sizing: border-box;
}

.form input[type="submit"] {
    background-color: #007bff;
    color: #fff;
    border: none;
    padding: 10px 20px;
    cursor: pointer;
    border-radius: 5px;
    transition: background-color 0.3s ease;
}

.form input[type="submit"]:hover {
    background-color: #15888a;
}

p {
    margin-top: 20px;
    font-size: 18px;
}
